.simple-switchButton {
  width: 80px;
  height: 40px;
  position: relative;
  background-color: #f1f1f1;
  border: solid 1px #e2e2e2;
  border-radius: 60px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.simple-switchButton .switch-toggle {
  height: 100%;
  position: absolute;
  margin-left: 0;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}
.simple-switchButton.checked {
  background-color: #8ce196;
}
.simple-switchButton.checked .switch-toggle {
  margin-left: 40px;
}
